@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.marcellus{
  font-family: "Marcellus", serif;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


body{
  
  font-family: "Marcellus", serif;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 255, 249);
  
}


.scroll-to-top{
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Add this to your CSS file */
.carousel-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-text {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
}

.carousel-buttons button {
  background-color: #f1f1f1;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.carousel-buttons button:hover {
  background-color: #ddd;
}




.active {
  background-color: #CA8A04 !important;
  color: white !important; /* Ensure the text is readable against the yellow background */
  font-weight: bold; /* Highlight the active link more prominently */
  border-radius: 5px; /* Add rounded corners for a modern look */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effects */
}


.slick-list{
  padding: 40px 0 !important;
}